* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav > h1 {
  padding: 50px;
  text-align: left;
  font-size: 60px;
  color: black;
  background-image: url(https://img.freepik.com/fotos-premium/primer-plano-motocicleta-sobre-fondo-puesta-sol_756748-20597.jpg?w=826);
  background-repeat: no-repeat;
  background-size: 100%;
}
div {
  padding: 40px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  height: 20px;
  background-color: black;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
}
a {
  color: white;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  font-size: 20px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  list-style-type: none;
  gap: 20px;
}

ul > li {
  flex-basis: 350px;
  flex-grow: 1;
}
ul > li > img {
  width: 100%;
}
footer {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: left;
  color: white;
  background-color: black;
  gap: 50px;
}
footer > ul {
  list-style: none;
  font-size: 20px;
}
div {
  display: flex;
  justify-content: right;
  padding: 20px;
  list-style: none;
}
